body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #FCFFF5;
    color: #303030;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
}

p, td, input, select {
    font-family: 'Poppins', sans-serif;
}

a {
    color: blue;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-brand:hover {
    color: #3498DB;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    font-family: 'Poppins', sans-serif;
}

.jumbotron {
    background: #2C3E50;
    border-radius: 0;
    color: #ffffff;
}

.container .jumbotron {
    border-radius: 0;
}

.navbar-inverse {
    border: 0;
}

/*
    TAULUKKO
*/

legend {
    border: 0;
}

table {
    width: 100%;
    border-radius: 10px;
}

th {
    font-weight: bold;
    border: 2px solid #dddddd;
}

td {
    padding: 5px 10px;
    color: #193441;
    border: 2px solid #dddddd;
}

tr:nth-child(even) {
    background: #eeeeee;
}

tr:nth-child(odd) {
    background: #FCFFF5;
}

/*
    LOMAKE
*/

form fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

form p {
    margin: 0;
}

fieldset select, fieldset input[type='text'] {
    border: 2px solid #dddddd;
}

fieldset .nappi {
    float: right;
    background: #2C3E50;
    color: #ffffff;
    -webkit-appearance: none;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #2C3E50;
}

fieldset .nappi:hover {
    background: #ffffff;
    color: #2c3e50;
}

.jumbotron {
    padding: 70px;
}
