@{
    ViewBag.Title = "Tehtävä 1";
}

<div class="jumbotron">
    <h1>Vartas rekrytointitehtävä - Ville Aho</h1>
    <p class="lead">Tämä sivu on minun palautukseni rekrytointitehtävään.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Taulukko</h2>
        <table id="taulukko">

            </table>
        <input id="filter" placeholder="Suodata tuloksia (Merkkikokoriippuvainen)">
    </div>
    <div class="col-md-6">
        <h2>Lomake</h2>
        <form>
            <fieldset>
                <div class="row">
                    <div class="large-8 columns">
                        <select>
                            <option value="ensimmäinenValinta">Ensimmäinen valinta</option>
                            <option value="toinenValinta">Toinen valinta</option>
                            <option value="kolmasValinta">Kolmas valinta</option>
                            <option value="neljasValinta">Neljäs valinta</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="large-8 columns">
                        <input type="text" placeholder="Tekstiä">
                    </div>
                </div>

                <div class="row">
                    <div class="large-8 columns">
                        <p><input type="radio" name="valinnat" value="ensimmäinen" /> Vaihtoehto 1</p>
                        <p><input type="radio" name="valinnat" value="toinen" /> Vaihtoehto 2</p>
                        <p><input type="radio" name="valinnat" value="kolmas" /> Vaihtoehto 3</p>
                        <p><input type="radio" name="valinnat" value="neljas" /> Vaihtoehto 4</p>
                    </div>
                </div>
                <input type="button" class="button nappi" value="Lähetä" />
            </fieldset>
        </form>
    </div>

</div>

<p id="demo"></p>


<script>
    //Taulukon rakentaminen ja datan hakeminen julkisesta API:sta
    $(document).ready(function () {
        $.getJSON('http://data.colorado.gov/resource/4ykn-tg5h.json', function (data) {
            // begin accessing JSON data here
            //console.log(data[0].agentfirstname);
            var table1 = document.getElementById("taulukko");
            var head = table1.createTHead(0);
            var hrow = head.insertRow(0);
            var hcell1 = hrow.insertCell(0);
            var hcell2 = hrow.insertCell(1);
            var hcell3 = hrow.insertCell(2);
            hcell1.innerHTML = "Nimi"
            hcell2.innerHTML = "Kaupunki"
            hcell3.innerHTML = "Postinumero";
            var body = table1.createTBody(1);
            body.setAttribute("id", "tableBody");
            var brow = body.insertRow(0);
            for (var i = 0; i < 6; i++) {
                var table = document.getElementById("taulukko");
                var row = table.insertRow(2);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                cell1.innerHTML = data[i].agentfirstname;
                cell2.innerHTML = data[i].agentprincipalcity;
                cell3.innerHTML = data[i].agentprincipalzipcode;
            }
            var table = document.getElementById("taulukko");
            var row = table.insertRow(8);
            var cell1 = row.insertCell(0);
            cell1.setAttribute("id", "rivit");
            cell1.setAttribute("colspan", "3");
            var rivimaara = document.getElementById("taulukko").rows.length - 3;
            cell1.innerHTML = "Rivimäärä - " + rivimaara;
        });
    });

</script>

<script>
    //Taulukon tulosten suodattaminen
    $("#filter").keyup(function () {
        var rows = $("#tableBody").find("tr").hide();
        if (this.value.length) {
            var data = this.value.split(" ");
            $.each(data, function (i, v) {
                rows.filter(":contains('" + v + "')").show();
            });
        } else rows.show();
    });
</script>