@{
    ViewBag.Title = "Tehtävä 1";
}

<div class="jumbotron">
    <h1>Vartas rekrytointitehtävä - Ville Aho</h1>
    <p class="lead">Tämä sivu on minun palautukseni rekrytointitehtävään.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Taulukko</h2>
        <table id="taulukko">
            <thead>
                <tr>
                    <th>Otsikko 1</th>
                    <th>Otsikko 2</th>
                    <th>Otsikko 3</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                </tr>
                <tr>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                </tr>
                <tr>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                </tr>
                <tr>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                </tr>
                <tr>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                </tr>
                <tr>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                    <td>Lorem ipsum</td>
                </tr>
                <tr>
                    <td colspan="3" id="rivit"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
       <h2>Lomake</h2>
        <form>
            <fieldset>
                <div class="row">
                    <div class="large-8 columns">
                        <select>
                            <option value="ensimmäinenValinta">Ensimmäinen valinta</option>
                            <option value="toinenValinta">Toinen valinta</option>
                            <option value="kolmasValinta">Kolmas valinta</option>
                            <option value="neljasValinta">Neljäs valinta</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="large-8 columns">
                        <input type="text" placeholder="Tekstiä">
                    </div>
                </div>

                <div class="row">
                    <div class="large-8 columns">
                        <p><input type="radio" name="valinnat" value="ensimmäinen" /> Vaihtoehto 1</p>
                        <p><input type="radio" name="valinnat" value="toinen" /> Vaihtoehto 2</p>
                        <p><input type="radio" name="valinnat" value="kolmas" /> Vaihtoehto 3</p>
                        <p><input type="radio" name="valinnat" value="neljas" /> Vaihtoehto 4</p>
                    </div>
                </div>
                <input type="button" class="button nappi" value="Lähetä" />
            </fieldset>
        </form>
    </div>
</div>

<script>
    //Rivimäärä taulukkoon
    var rivimaara = document.getElementById("taulukko").rows.length -2;
    document.getElementById("rivit").innerHTML = "Rivimäärä - " + rivimaara;
</script>